@model u20515822_HW03.Models.authors
@{
    ViewBag.Title = "DeleteAuthor";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this author?</h3>
<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteAuthorConfirmed", "Maintain", new { id = Model.authorId }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
    @Html.ActionLink("Cancel", "Index", "Maintain", null, new { @class = "btn btn-default" })
</div>


